<!-- <nav class="navbar navbar-expand-sm navbar-light bg-light bg-gradient-light shadow-sm py-0 mb-3 mb-md-4 mb-xl-5"> -->
  <header style='z-index:1002;top: 0;position: sticky;display: block;box-sizing: border-box;font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;font-size: 16px;line-height: 1.5;color: #222;-webkit-tap-highlight-color: rgba(0,0,0,0);-webkit-text-size-adjust: 100%;'>
    <div id="navbar-container"
    style='display:block;overflow:hidden;z-index: 10;left: 0px;margin: 0px;line-height: 2em;white-space: normal;background-color: rgb(0, 0, 0);color: rgb(223, 223, 223);height: 57px;right: 0px;top: 0px;'>
      
      <a href={{ "/" | relURL}} style="outline: none;position: absolute;top: 50%;left: 50%;max-width: 45%;transform: translate(-50%, -50%);">        
        <img alt src={{ "/images/waterloo-logo.svg" | relURL}} style="display: flex;flex-shrink: 0;transition: opacity 300ms linear 0s;cursor: pointer;width: 139.273px;max-width: 100%;vertical-align: middle;">
      </a>
      
      <!-- <a href={{ "/" | relURL}}
        style='color: #0072bc;text-decoration: none;display: inline-block;height: 100%;line-height: 54px;border-right: 1px solid #e6e6e6;margin-left: 6px;padding-right: 6px;outline-offset: -4px!important;font-weight: 700;background: transparent;box-sizing: border-box;cursor: pointer;font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;font-size: 16px;-webkit-tap-highlight-color: rgba(0,0,0,0);'>
        <img src={{ "/images/gwf-logo.png" | relURL}} alt="ACL Logo"
          style='margin-right: 0;height: 54px;padding: 6px;width: auto;margin-top: -2px;max-width: 100%;vertical-align: middle;border: 0;box-sizing: border-box;color: #0072bc;line-height: 54px;font-weight: 700;cursor: pointer;font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;font-size: 16px;-webkit-tap-highlight-color: rgba(0,0,0,0);-webkit-text-size-adjust: 100%;'>
      </a>
      <a href={{ "/" | relURL}}
        style='text-decoration: none;color: #222 !important;display: inline-block;font-size: 16px;line-height: 54px;font-weight: 700;outline-offset: -4px!important;padding: 0 6px;margin: 0 -6px;background: transparent;box-sizing: border-box;cursor: pointer;font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;-webkit-tap-highlight-color: rgba(0,0,0,0);-webkit-text-size-adjust: 100%;padding-left: 4px;'>
        Global Water Futures
      </a> -->

      <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> -->
  
      <!--<div class="collapse navbar-collapse" id="navbarSupportedContent" style='hello'>
         <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href={{ relref . "/faq" }}>FAQ<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href={{ relref . "/info/corrections.md" }}>Corrections<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href={{ relref . "/info/contrib.md" }}>Submissions<span class="sr-only">(current)</span></a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0" action={{"/search/?" | relURL}} method=get>
        <input id=acl-search-box class="form-control mr-sm-2" name=q type=search placeholder=Search... aria-label=Search>
        <button class="btn btn-outline-primary" type=submit><i class="fas fa-search"></i></button>
      </form> 
      </div>-->
    </div>
  </header>
  <!-- </nav> -->