<!DOCTYPE HTML>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="refresh" content="0; url=http://localhost:8000/gwf-anthology/events/gwf-2016/">
        <script type="text/javascript">
            window.location.href = "http://localhost:8000/gwf-anthology/events/gwf-2016/"
        </script>
        <title>Page Redirection</title>
    </head>
    <body>
        <!-- Note: don't tell people to `click` the link, just tell them that it is a link. -->
        If you are not redirected automatically, follow this <a href='http://localhost:8000/gwf-anthology/events/gwf-2016/'>link to the anthology</a>.
    </body>
</html>