{{ define "main" }}

<div class="row">
  <div class="col-lg-3">
    <div class="row" style="top: 100px;position: sticky;">
      <div class="col-12 col-md-6 col-lg-12">
        <div class="card my-2 my-md-0 my-lg-2">
          <h5 class="card-header" style="cursor:pointer;"  href="#year_list" data-toggle="collapse" aria-expanded="false" aria-controls="year_list">Year</h5>
          <ul class="list-group list-group-flush list-group-compact collapse abstract-collapse" id="year_list">
            {{ range $key_year, $paper_year := sort $.Site.Data.venues.GWF.years "value" "desc" }}
            <li class="list-group-item">
              <input type="checkbox" id={{ print "check_year_" $paper_year }} checked=True/>
              {{ $paper_year }}
            </li>
            {{ end }}
          </ul>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-12">
        <div class="card my-2 my-md-0 my-lg-2">
          <h5 class="card-header" style="cursor:pointer;"  href="#university_list" data-toggle="collapse" aria-expanded="false" aria-controls="university_list">University</h5>
          <ul class="list-group list-group-flush list-group-compact collapse abstract-collapse" id="university_list">            
            {{ $universities := dict "wat" "University of Waterloo" "sas" "University of Saskatchewan" }}
            {{ range $abbr_uni, $uni := $universities }}
            <li class="list-group-item">
              <input type="checkbox" id={{ print "uni_" $abbr_uni }} checked=True/>
              {{ $uni }}
            </li>
            {{ end }}
          </ul>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-12">
        <div class="card my-2 my-md-0 my-lg-2">
          <h5 class="card-header" style="cursor:pointer;"  href="#project_list" data-toggle="collapse" aria-expanded="false" aria-controls="project_list">Project</h5>
          <ul class="list-group list-group-flush list-group-compact collapse abstract-collapse" id="project_list">            
            {{ $projects := dict "prj1" "Combined Hydrological, Exposure and Risk Assessment Models in Support of Environmental Risk Assessment" "prj2" "Building and Sustaining Infrastructure Resilience Through Targeted Cli- mate Adaptation Training for Professionals in Newfoundland and Labrador" "prj3" "Project3" "prj4" "Project4" "prj5" "Project5" "prj6" "Project6" }}
            {{ range $abbr_prj, $prj := $projects }}
            <li class="list-group-item">
              <input type="checkbox" id={{ print "prj_" $abbr_prj }} checked=True/>
              {{ $prj }}
            </li>
            {{ end }}
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-9">

    <div class="py-4">
      {{ $.Scratch.Set "paper_count" 0 }}
      {{ range $.Site.Data.papers }}
      {{ $.Scratch.Add "paper_count" (len .) }}
      {{ end }}


      <h2 class="pl-2 pb-2">Welcome to the GWF Publications Archive!</h2>

      <aside class="card acl-greeting font-weight-light mb-3">
        <div class="card-body">
          This archive currently hosts {{ $.Scratch.Get "paper_count" }} papers from the <a
            href="https://gwf.usask.ca/">Global Water Futures</a> research program.<br>
          Check out a co-authorship graph of GWF researchers <a
            href="https://gwf-uwaterloo.github.io/gwf-publications-old/index.html">here</a>.
        </div>
      </aside>

      <div>
        {{ range $key_year, $paper_year := sort $.Site.Data.venues.GWF.years "value" "desc" }}
        <a class="align-middle" href={{ print "#year_" $paper_year }}>{{ $paper_year }}</a> &nbsp|&nbsp
        {{ end }}
      </div>

      <!-- Temporarily disabled...
      <aside class="alert alert-info acl-news mb-3" role="alert">
        // The news message pulls from content/_index.md
        {{ if (gt (time .PublishDate).Year 2018) }}
        <div class="acl-news-date">{{ .PublishDate.Format "January 2006" }}</div>
        {{ end }}
        {{ .Content }}
      </aside>
      -->

      <!-- <div class="row mb-3">
        {{/* if (fileExists "/data-export/anthology.bib.gz") */}}
        <div class="col-6 col-xl-12 mb-2">
          <a class="btn btn-block btn-info" href="{{/* "/anthology.bib.gz" | relURL */}}">Full Anthology as BibTeX ({{/* printf "%.2f MB" (div (os.Stat "/data-export/anthology.bib.gz").Size 1000000.0) */}})</a>
          <a class="btn btn-block btn-info" href="{{/* "/anthology+abstracts.bib.gz" | relURL */}}">…with abstracts ({{/* printf "%.2f MB" (div (os.Stat "/data-export/anthology+abstracts.bib.gz").Size 1000000.0) */}})</a>
        </div>
        {{/* end */}}
        <div class="col-6 col-xl-12 mb-2">
          <a class="btn btn-block btn-warning" href="{{/* ($.Site.GetPage "/faq/feedback.md").RelPermalink */}}">Give feedback</a>
        </div>
      </div> -->
    </div>

    <section id="main">

      {{ $venue := index .Site.Data.venues "GWF" }}            
      {{ range $key_year, $paper_year := sort $.Site.Data.venues.GWF.years "value" "desc" }}
      
      {{ $div_id := print "year_" $paper_year }}
      <div id={{ $div_id }}>
        <hr />
        <h2 id="title">
          {{ $paper_year }}
        </h2>
      

      
      {{ $volumes := index $venue "volumes_by_year" $paper_year }}

      {{/* Check if any of the volumes associated with this event have abstracts */}}
      {{ $with_abstracts := 0 }}
      {{ range $volumes }}
      {{ $volume := index $.Site.Data.volumes . }}
      {{ if $volume.has_abstracts }}
      {{ $with_abstracts = add $with_abstracts 1 }}
      {{ end }}
      {{ end }}

      {{ range $volumes }}
      {{ $volume := index $.Site.Data.volumes . }}
      <div id="{{ . | anchorize }}">

        {{ range $volume.papers }}
        {{ $page := printf "/papers/%s/%s.md" (index (split . "-") 0) . }}
        {{ ($.Site.GetPage $page).Render "list-entry-author" }}
        {{ end }}
      </div>
      {{ end }}
      </div>
      {{ end }}


    </section>

  </div>
</div>

{{ end }}