{{ define "javascript" }}
<script>
  // Makes the header expand to the width of the (fluid) main container
  $(function () {
      var resize_navbar = function() {
          var width = 0;
          $('#main-container .col-12').each(function() {
              width += $(this).width();
          });
          $("#navbar-container").css("max-width", width);
      };
      $(window).resize(resize_navbar);
      resize_navbar();
  })
</script>
{{ end }}

{{ define "main" }}

<div class="row justify-content-center">
  {{ $.Scratch.Set "paper_count" 0 }}
  {{ range $.Site.Data.papers }}
    {{ $.Scratch.Add "paper_count" (len .) }}
  {{ end }}

  <div class="col-12 col-xl-3">
    <h2 class="pl-2 pb-2">Welcome to the Global Water Futures Anthology!</h2>

    <aside class="card acl-greeting font-weight-light mb-3">
      <div class="card-body">
        The GWF Anthology currently hosts {{ $.Scratch.Get "paper_count" }} papers on the study of global water futures.
      </div>
    </aside>

    <!-- Temporarily disabled...
    <aside class="alert alert-info acl-news mb-3" role="alert">
      // The news message pulls from content/_index.md
      {{ if (gt (time .PublishDate).Year 2018) }}
      <div class="acl-news-date">{{ .PublishDate.Format "January 2006" }}</div>
      {{ end }}
      {{ .Content }}
    </aside>
    -->

    <div class="row mb-3">
      {{ if (fileExists "/data-export/anthology.bib.gz") }}
      <div class="col-6 col-xl-12 mb-2">
        <a class="btn btn-block btn-info" href="{{ "/anthology.bib.gz" | relURL }}">Full Anthology as BibTeX ({{ printf "%.2f MB" (div (os.Stat "/data-export/anthology.bib.gz").Size 1000000.0) }})</a>
        <a class="btn btn-block btn-info" href="{{ "/anthology+abstracts.bib.gz" | relURL }}">…with abstracts ({{ printf "%.2f MB" (div (os.Stat "/data-export/anthology+abstracts.bib.gz").Size 1000000.0) }})</a>
      </div>
      {{ end }}
    </div>
  </div><div class="col-12 col-xl-9 col-xl-width-auto">

<section id="main">

  
  <div class="card bg-light mb-2 mb-lg-4">
    <div class="card-body">
      <h2 class="card-title">2022</h2>
    </div>
  </div>
  <hr />

  {{ $venue := index .Site.Data.venues .Params.venue }}
  {{ $volumes := index $venue "volumes_by_year" "2022" }}

  {{/* Check if any of the volumes associated with this event have abstracts */}}
  {{ $with_abstracts := 0 }}
  {{ range $volumes }}
    {{ $volume := index $.Site.Data.volumes . }}
    {{ if $volume.has_abstracts }}
      {{ $with_abstracts = add $with_abstracts 1 }}
    {{ end }}
  {{ end }}

  {{ range $volumes }}
  {{ $volume := index $.Site.Data.volumes . }}
  <div id="{{ . | anchorize }}">

    {{ range $volume.papers }}
      {{ $page := printf "/papers/%s/%s.md" (index (split . "-") 0) . }}
      {{ ($.Site.GetPage $page).Render "list-entry" }}
    {{ end }}
  </div>
  <hr />
  {{ end }}
  
  <div class="card bg-light mb-2 mb-lg-4">
    <div class="card-body">
      <h2 class="card-title">2021</h2>
    </div>
  </div>
  <hr />

  {{ $venue := index .Site.Data.venues .Params.venue }}
  {{ $volumes := index $venue "volumes_by_year" "2021" }}

  {{/* Check if any of the volumes associated with this event have abstracts */}}
  {{ $with_abstracts := 0 }}
  {{ range $volumes }}
    {{ $volume := index $.Site.Data.volumes . }}
    {{ if $volume.has_abstracts }}
      {{ $with_abstracts = add $with_abstracts 1 }}
    {{ end }}
  {{ end }}

  {{ range $volumes }}
  {{ $volume := index $.Site.Data.volumes . }}
  <div id="{{ . | anchorize }}">

    {{ range $volume.papers }}
      {{ $page := printf "/papers/%s/%s.md" (index (split . "-") 0) . }}
      {{ ($.Site.GetPage $page).Render "list-entry" }}
    {{ end }}
  </div>
  <hr />
  {{ end }}
  
  <div class="card bg-light mb-2 mb-lg-4">
    <div class="card-body">
      <h2 class="card-title">2020</h2>
    </div>
  </div>
  <hr />

  {{ $venue := index .Site.Data.venues .Params.venue }}
  {{ $volumes := index $venue "volumes_by_year" "2020" }}

  {{/* Check if any of the volumes associated with this event have abstracts */}}
  {{ $with_abstracts := 0 }}
  {{ range $volumes }}
    {{ $volume := index $.Site.Data.volumes . }}
    {{ if $volume.has_abstracts }}
      {{ $with_abstracts = add $with_abstracts 1 }}
    {{ end }}
  {{ end }}

  {{ range $volumes }}
  {{ $volume := index $.Site.Data.volumes . }}
  <div id="{{ . | anchorize }}">

    {{ range $volume.papers }}
      {{ $page := printf "/papers/%s/%s.md" (index (split . "-") 0) . }}
      {{ ($.Site.GetPage $page).Render "list-entry" }}
    {{ end }}
  </div>
  <hr />
  {{ end }}
  
  <div class="card bg-light mb-2 mb-lg-4">
    <div class="card-body">
      <h2 class="card-title">2019</h2>
    </div>
  </div>
  <hr />

  {{ $venue := index .Site.Data.venues .Params.venue }}
  {{ $volumes := index $venue "volumes_by_year" "2019" }}

  {{/* Check if any of the volumes associated with this event have abstracts */}}
  {{ $with_abstracts := 0 }}
  {{ range $volumes }}
    {{ $volume := index $.Site.Data.volumes . }}
    {{ if $volume.has_abstracts }}
      {{ $with_abstracts = add $with_abstracts 1 }}
    {{ end }}
  {{ end }}

  {{ range $volumes }}
  {{ $volume := index $.Site.Data.volumes . }}
  <div id="{{ . | anchorize }}">

    {{ range $volume.papers }}
      {{ $page := printf "/papers/%s/%s.md" (index (split . "-") 0) . }}
      {{ ($.Site.GetPage $page).Render "list-entry" }}
    {{ end }}
  </div>
  <hr />
  {{ end }}


  <div class="card bg-light mb-2 mb-lg-4">
    <div class="card-body">
      <h2 class="card-title">2018</h2>
    </div>
  </div>
  <hr />

  {{ $venue := index .Site.Data.venues .Params.venue }}
  {{ $volumes := index $venue "volumes_by_year" "2018" }}

  {{/* Check if any of the volumes associated with this event have abstracts */}}
  {{ $with_abstracts := 0 }}
  {{ range $volumes }}
    {{ $volume := index $.Site.Data.volumes . }}
    {{ if $volume.has_abstracts }}
      {{ $with_abstracts = add $with_abstracts 1 }}
    {{ end }}
  {{ end }}

  {{ range $volumes }}
  {{ $volume := index $.Site.Data.volumes . }}
  <div id="{{ . | anchorize }}">

    {{ range $volume.papers }}
      {{ $page := printf "/papers/%s/%s.md" (index (split . "-") 0) . }}
      {{ ($.Site.GetPage $page).Render "list-entry" }}
    {{ end }}
  </div>
  <hr />
  {{ end }}


  <div class="card bg-light mb-2 mb-lg-4">
    <div class="card-body">
      <h2 class="card-title">2017</h2>
    </div>
  </div>
  <hr />

  {{ $venue := index .Site.Data.venues .Params.venue }}
  {{ $volumes := index $venue "volumes_by_year" "2017" }}

  {{/* Check if any of the volumes associated with this event have abstracts */}}
  {{ $with_abstracts := 0 }}
  {{ range $volumes }}
    {{ $volume := index $.Site.Data.volumes . }}
    {{ if $volume.has_abstracts }}
      {{ $with_abstracts = add $with_abstracts 1 }}
    {{ end }}
  {{ end }}

  {{ range $volumes }}
  {{ $volume := index $.Site.Data.volumes . }}
  <div id="{{ . | anchorize }}">

    {{ range $volume.papers }}
      {{ $page := printf "/papers/%s/%s.md" (index (split . "-") 0) . }}
      {{ ($.Site.GetPage $page).Render "list-entry" }}
    {{ end }}
  </div>
  <hr />
  {{ end }}



  <div class="card bg-light mb-2 mb-lg-4">
    <div class="card-body">
      <h2 class="card-title">2016</h2>
    </div>
  </div>
  <hr />

  {{ $venue := index .Site.Data.venues .Params.venue }}
  {{ $volumes := index $venue "volumes_by_year" "2016" }}

  {{/* Check if any of the volumes associated with this event have abstracts */}}
  {{ $with_abstracts := 0 }}
  {{ range $volumes }}
    {{ $volume := index $.Site.Data.volumes . }}
    {{ if $volume.has_abstracts }}
      {{ $with_abstracts = add $with_abstracts 1 }}
    {{ end }}
  {{ end }}

  {{ range $volumes }}
  {{ $volume := index $.Site.Data.volumes . }}
  <div id="{{ . | anchorize }}">

    {{ range $volume.papers }}
      {{ $page := printf "/papers/%s/%s.md" (index (split . "-") 0) . }}
      {{ ($.Site.GetPage $page).Render "list-entry" }}
    {{ end }}
  </div>
  <hr />
  {{ end }}




</div>

</section>
{{ end }}
